<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AMAZON</title>
  <meta charset="UTF-8">
</head>
<body>

<hr>

<h4>Авторизация</h4>

<form th:action="@{/login}" method="post">
  <label>Эл. почта:</label>
  <input type="email" name="username" required /><br><br>

  <label>Пароль:</label>
  <input type="password" name="password" required /><br><br>

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <button type="submit">Вход</button>
</form>

<p>Нет аккаунта? <a th:href="@{/registration}">Зарегистрироваться</a></p>

<p th:if="${param.error}" style="color: red;">Неверный email или пароль</p>
<p th:if="${param.logout}" style="color: green;">Вы успешно вышли</p>
</body>
</html>
