<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AMAZON</title>
  <meta charset="UTF-8">
</head>
<body>

<hr>


<div th:if="${user.name != null}">
  <h3>Имя пользователя: <i th:text="${user.name}"></i></h3>
  <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выйти</button>
  </form>
</div>
<div th:if="${user.name == null}">
  <a th:href="@{/login}">Войти</a>
</div>

<hr>

<!-- Форма поиска -->
<form th:action="@{/}" method="get">
  Поиск по названию объявления: <input type="text" name="title">
  <button type="submit">Поиск</button>
</form>

<!-- Список товаров -->
<div th:if="${products != null and not #lists.isEmpty(products)}">
  <div th:each="product : ${products}">
    <a th:href="@{/product/{id}(id=${product.id})}" style="color: black;text-decoration: none;">
    <p>
    <div th:each="img : ${images}">
      <img th:src="@{/images/{id}(id=${img.id})}" height="120px" /><br><br>
    </div>
      <b th:text="${product.title}"></b>
      <span th:text="|${product.price}  |"></span> |
      </a>
    </p>
  </div>
</div>
<div th:if="${products == null or #lists.isEmpty(products)}">
  <h3>Товаров нет</h3>
</div>

<!-- Форма создания товара (только для авторизованных пользователей) -->
<div th:if="${user != null}">
  <hr>
  <h3>Создать новый товар</h3>
  <form th:action="@{/product/create}" method="post" enctype="multipart/form-data">
    Название объявления: <input type="text" name="title"/><br><br>
    Описание объявления: <input type="text" name="description"/><br><br>
    Цена: <input type="number" name="price"/><br><br>
    Город: <input type="text" name="city"/><br><br>
    Первая фотография: <input type="file" name="file1"/><br><br>
    Вторая фотография: <input type="file" name="file2"/><br><br>
    Третья фотография: <input type="file" name="file3"/><br><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Добавить товар</button>
  </form>
</div>

</body>
</html>
